html {
	font-family: verdana;
	color: #fff;
	margin: 0;
	background-color: #000000;
	min-height: 100%;
}

.banner {
	display: block;
	width: 100%;
	height: auto;
	background-color: #000000;
}

.banner>.banner-img {
	display: block;
	max-width: 100%;
	margin: auto;
	height: auto;
	max-height: 300%;
}

.wrapper {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

nav {
	background: #000;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav a {
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 10px;
	background-color: #000;
	display: block;
}

nav a:hover {
	background-color: #555;
}

.grid-contact {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	background-image: url("../img/CompressedBackground.jpg");
	padding: 5% 10% 10% 10%;
	padding-bottom: 0%;
}

.heading {
	grid-column: 1;
	grid-row: 1;
}

.form {
	grid-column: 1;
	grid-row: 2;
}

.google-maps {
	grid-column: 1;
	grid-row: 3;
}

@media screen and (min-width: 600px) {
	nav ul {
		display: flex;
		justify-content: center;
	}
	nav li {
		flex: 1 1 0;
	}
	.layout {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	h1 {
		font-size: 2rem;
	}
	.grid-contact {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		margin: 0 auto;
		grid-auto-rows: minmax(100px, auto);
		background-image: url("../img/CompressedBackground.jpg");
		padding: 5% 10% 10% 10%;
		padding-bottom: 0%;
	}
	.heading {
		grid-column: 1;
		grid-row: 1;
	}
	.form {
		grid-column: 2;
		grid-row: 2;
	}
	.google-maps {
		grid-column: 1/3;
		grid-row: 2;
	}
}

h1 {
	font-size: 2rem;
	top: 0.5rem;
	color: white;
	padding-bottom: 0.5rem;
}

h2 {
	top: 3rem;
	font-size: 100%;
	color: white;
	position: relative;
	margin: auto;
	width: 80%;
	padding-bottom: 4rem;
}

h3 {
	font-size: 100%;
}

h3 b {
	font-weight: bold;
	font-size: 105%
}

h4 {
	font-size: 150%;
}

p {
	font-size: 120%;
	padding: 0.1rem;
	color: white;
}

td {
	text-align: justify;
	font-size: 150%;
	padding-top: 5%;
	padding-bottom: 5%;
}

body {
	font-family: arial, sans-serif;
	padding-bottom: 1em;
	height: 100%;
}

h {
	background-color: #dedede;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	color: #fff;
	margin: 12px;
	text-transform: uppercase;
}

.hdr-reserveren {
	background-color: #0B5586;
	font-size: 170%;
	padding: 2%
}

fieldset {
	background-color: #f1f1f1;
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
	overflow: hidden;
}

.fields {
	background-color: #fff;
	border: 1px solid #eaeaea;
	margin: .75em;
	padding: .75em;
}

.fields .row {
	margin: 0.5em 0;
	font-size: 150%;
}

label {
	cursor: pointer;
	display: flex;
}

input,
select {
	font: inherit;
}

.field-large {
	width: 100%;
}

select {
	padding-right: 1em;
}

.btn {
	background-color: #efefef;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	color: #000;
	margin: 12px 0 0 26px;
	padding: 8px;
}

.btn:hover {
	background-color: #999;
}

h2,
p {
	color: black;
}

.google-maps {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width:400px) {
	.google-maps {
		position: relative;
		padding-bottom: 30%;
		height: 0;
		overflow: hidden;
	}
	.google-maps iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

footer {
	color: #000;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0px 10px 5rem;
	padding-left: 10%;
	background-color: #efefef;
	text-align: left;
	opacity: 0.6;
}
